<table>
{% for key, user in users %}
    <tr>
        <td>{{ user['firstName'] }} {{ user['lastName'] }}</td>
        <td><a href="/users/{{ key }}/transactions">Voir</a></td>
    </tr>
{% endfor %}
</table>